body {
    background-color:hsl(217, 54%, 11%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    
}

.card {
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow:  10px 10px 300px hsl(215, 54%, 7%);
}

.nft-preview {
    border-radius: 10px;
}

.nft-title {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color:hsl(0, 0%, 100%);
    
}

.nft-description {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: hsl(215, 51%, 70%);
    margin: 0;
}

.price-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border-bottom: 1px solid hsl(215, 32%, 27%);
    padding-bottom: 10px;
}

.date, .price {
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
}

.nft-price {
    color: hsl(178, 100%, 50%);
    margin-left: 5px;
    font-weight: 600;
}

.nft-time {
    color: hsl(215, 51%, 70%);
    margin-left:5px;
    font-weight: 400;
}

.creator {
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    margin-top: 15px
}

.creator img {
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    margin-right: 15px;
}

.nft-creator {
    color: hsl(215, 51%, 70%);
}

.white-text {
    color: hsl(0, 0%, 100%);
}